:root{
/*    --brand-paper: rgb(255,230,230);*/
    --brand-green: rgb(167,209,202);
    --brand-paper: rgb(234, 221, 202);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,200&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    background-color: var(--brand-paper);
    margin: 0;
}


/* ---- text ----- */
.container-fluid{
    border: 0px solid blue;
    padding: 0px;
}

.container-lg{
    border: 4px solid pink;
    padding: 10px;
}


.quote{
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 1em 1em;
/*    background-color: rgb(255,255,255);*/
    color: rgb(150,150,150);
}

.body-text{
    font-size: 2em;
    text-align: center;
}

h1{
    font-size: 2.5em;
    text-align: center;
    font-weight: 600;
    margin: 0;
    
}
/* ------------- */


/* --- layout ---*/
.container-fluid{
    border: 0px solid pink;
}

.container-lg{
    border: 0px solid pink;
    overflow: auto;
    
}

.W{
background-color: rgb(255,255,255);
}

.A{
    background-color: rgb(255, 200, 200);
}

.B{
    background-color: rgb(251, 206, 177);
}

.C{
    background-color: rgb(255, 255, 143);
}

.D{
    background-color: rgb(175, 225, 175);
}

.E{
    background-color: rgb(173,216,230);
}


.T{
    background-color: rgb(106,90,205);
}


.col-lg-7, .col-lg-5{
    border: 0px solid red;
}

.row{
    border: 0px solid blue;
}

/* ----------- */


/* --- images --- */

.part-img{
    max-width: 75%;
    margin: auto;
    display: block;
}

/* ----------- */

/* --- footer content --- */

.footer-content{
    background-color: rgb(216,191,216);
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    color: white;
    
}

.footer-content p:first-child{
    font-weight: 600;
    font-size: 1.5em;
}




@media only screen and (max-width: 768px) {

    .body-text , .quote{
        font-size:1.5em;
    }
    h1{
         font-size: 2em;
    }
}

@media only screen and (max-width: 768px) {
.part-img{
max-width: 100%;
}
}

/* ---- navigation --- */

.navbar{
    --brand-green-pale: rgb(223, 237, 224);
    background-color: var(--brand-green);
    border-bottom: 1px solid black;
}

.nav-item:hover{
    background-color: var(--brand-green-pale);

}

.nav-link{
    font-size: 1.5em;
    color: black;
}

.nav-link:hover{
    color: var(--brand-green);
}

.btn-outline{
    border: 1px solid white;
    padding: 0 1em;
}

.btn-outline:hover{
    background-color: var(--brand-green-pale);
}

nav .btn-outline{
display: inline-block;

}

/* ---- text when you hover over the top image ---- */

/*text on image*/



</* -------- photo gallery -------- */
carousel-div { 
    width: 80%
}


/* ------ form ------ */
label, input[type='text'], input[type='email'], textarea{
font-size: 1.5em !important;
}

form p{
font-size: 1.5em;
}

