{% extends "layout.html" %}

{% block title %}
Get involved
{% endblock %}

{% block banner %}
static/images_WQSA/big_banner.svg
{% endblock %}

{% block content %}
<style>
table{
margin:auto;
}
td{
font-size: 1.5em;
padding: 0.25em;
border-bottom: 1px solid gray;
}
td:first-child{
text-align:right;
font-weight:bold;
}

</style>
<ul></ul>
<!--confirming your details once you sign up -->
<div class="container-lg W">
    <h1>Your details</h1>
    <form action="{{ url_for('get_involved') }}" method="POST">
    <table>
        <tr>
            <td>Full name</td>
            <td><input class="form-control" id="name" name="name" value="{{form_data['name']}}" readonly></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input class="form-control" id="email" name="email" value="{{form_data['email']}}" readonly></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input class="form-control" type="password" id="password" name="password" value="{{form_data['password']}}" readonly></td>
        </tr>
    </table>
        <ul></ul>
        <input type="hidden" name="confirm" value="true"/>

        <div class="text-end">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Cancel</a>
            <a href="{{ url_for('get_involved', **form_data) }}" class="btn btn-primary">Edit</a>
            <button type="submit" id="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form>


</div>
<ul></ul>
{% endblock %}