{% extends "layout.html" %}

{% block title %}
Get involved
{% endblock %}

{% block banner %}
static/images_WQSA/big_banner.svg
{% endblock %}

{% block content %}
<!--title so users know what page and what the form will do -->
<ul></ul>
<div class="container-lg A">
    <p class="body-text">
        Join us to receive updates about upcoming events we are running
    </p>
</div>
<ul></ul>
<!--form to sign up to the site -->
<div class="container-lg p-3 B">
    <form action="{{ url_for('get_involved') }}" method="POST">
        <div>
            <label for="name" class="form-label">Full name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="{{name}}" required>
        </div>

        <div>
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{email}}" required>
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="" value="{{password}}" required>
        </div>

<!--        <label for="aboutme" class="form-label">Tell us about yourself</label>-->
<!--        <textarea id="aboutme" name="aboutme" class="form-control" rows="7" >{{aboutme}}</textarea>-->

        <div class="text-end">
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>

        </div>
    </form>
</div>

<ul></ul>
{% endblock %}