{% extends "layout.html" %}

{% block title %}
Get involved
{% endblock %}

{% block banner %}
static/images_WQSA/big_banner.svg
{% endblock %}

{% block content %}
<div class="container-lg A">
    <p class="body-text">
        Join us to receive updates about upcoming events we are running
    </p>
</div>
<ul></ul>
<div class="container-lg p-3 B">
    <form action="{{ url_for('get_involved') }}" method="POST">
        <div>
            <label for="firstname" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" value="{{firstname}}" required>
        </div>

            <div>
            <label for="lastname" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="" value="{{lastname}}" required>
        </div>

            <div>
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{email}}" required>
        </div>

        <label for="aboutme" class="form-label">Tell us about yourself</label>
        <textarea id="aboutme" name="aboutme" class="form-control" rows="7" >{{aboutme}}</textarea>

        <div class="text-end">
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>

        </div>
    </form>
</div>
{% endblock %}