{% extends "layout.html" %}

{% block title %}
Wellington Queer Students Association
{% endblock %}

{% block banner %}
static/images_WQSA/flags_banner.svg
{% endblock %}

{% block content %}

    <ul></ul>
    <div class="alert alert-info alert-dismissible fade show">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Welcome!</strong> Check out the news or events page to see what we're up to!
    </div>

    <!--Quote -->
    <div class="container-lg A">
        <p class="quote">“We have to be visible. We should not be ashamed of who we are” - Martha P. Johnson</p>
    </div>
    <ul></ul>


    <!--images of the different pages -->
    <div class="container-lg B">
        <div class="row align-items-center">
            <div class="col-lg-3 container-img">
                <a href="meet_the_team"><img class="img-fluid image-mouseover" src="static/images_WQSA/pride_ball_team.svg" >
                <div class="centered-img"><h1>Meet the team</h1></div></a>
            </div>

            <div class="col-lg-3 container-img">
            <a href="get_involved"><img class="img-fluid image-mouseover" src="static/images_WQSA/pride-parade-2019.svg" >
                <div class="centered-img"><h1>Get involved</h1></div></a>
            </div>

            <div class="col-lg-3 container-img">
            <a href="upcoming_events"><img class="img-fluid image-mouseover" src="static/images_WQSA/pride_flag_pole.svg" >
                <div class="centered-img"><h1>Upcoming events</h1></div></a>
            </div>

            <div class="col-lg-3 container-img">
            <a href="news"><img class="img-fluid image-mouseover" src="static/images_WQSA/pride_parade_flags.svg" >
                <div class="centered-img"><h1>News</h1></div></a>
            </div>
        </div>
    </div>
    <ul></ul>

    <!--Introduction to what WQSA is -->
    <div class="container-lg C">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h1 class="text-decoration-underline">Who are we</h1>
    <!--blurb -->
                <p class="body-text">We're the Wellington Queer Students Association; a group of lgbtqia+ high school students who are driven by a desire to improve the school experience for queer students. We believe that we need a place run by students that is for students. No one knows the current experience as a queer student better than current queer students themselves. We are all very passionate to find small ways in our community to greater the quality of youth life in our community. “We're here. We're queer.”</p>
             </div>
            <!--Photo of our logo -->
            <div class="col-lg-5">
                <img class="img-fluid" src="static/images_WQSA/Logo_WQSA.png">
            </div>
        </div>
    </div>
    <ul></ul>

    <!--Out in the city photos  -->
    <div class="container-lg D">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1 class="text-decoration-underline">Photos taken at Out in the city</h1>
                <p class="body-text">Wellington Pride organises a range of pride events for the queer community in Wellington.
                    These events are run by the Wellington city council and Out in the city happens every year and is a wonderful time to feel comforable in your queer identity.
            </div>
            <div class="col-lg-6">
                <!--Carousel for the out in the city photos  -->
                <div class="">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="static/images_WQSA/2_micheal_fowler_deco.svg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="static/images_WQSA/drag_queen_micheal_fowler.svg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="static/images_WQSA/micheal_fowler_decorations.svg" alt="Third slide">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul></ul>

<!--    d-block mt-3-->

<!--subscribing to recieve emails (email database) -->

    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card E">
                <div class="text-center">
                    <img src="static/images_WQSA/pride_flag_photo.png" class="rounded-circle" width="100" alt="Waving pride flag cartoon">
                    <span class="d-block text">Subscribe to our newsletter in order not to miss new arrivals <br> promotions or events we are running</span>
                      <div class="mx-5">
                        <form action="{{ url_for('add_email')}}" method="POST">
                            <div class="input-group mb-3 mt-4">
                                <input type="text" id="email" name="email" class="form-control" placeholder="Enter email" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-success border-rad T" type="submit" id="submit">Subscribe</button>
                            </div>
                        </form>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <ul></ul>



{% endblock %}