{% extends "layout.html" %}

{% block title %}
Meet the team
{% endblock %}

{% block banner %}
static/images_WQSA/flags_banner.svg
{% endblock %}

{% block content %}

<ul></ul>

<div class="container-lg A">
    <p class="quote">Meet the executive team at WQSA</p>
</div>

<ul></ul>
    <div class="container text-center">

  <div class="row">

    <div class="col-lg-4">
<div class="card" style="width:400px">
  <img class="card-img-top" src="static/images_WQSA/Meet_the_team_images/Abbie_MTT.svg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Abbie - she/they - vice president</h4>
    <p class="card-text">hi there! i’m so excited to be part of this amazing team as deputy head. i’m really passionate about giving back to the lgbtq+ community and i can’t wait to have the opportunity to collaborate and make a difference and a safe space for everyone.</p>
    <a href="#" class="btn btn-primary A">See Profile</a>
  </div>
</div>
    </div>

       <div class="col-lg-4">
<div class="card" style="width:400px">
  <img class="card-img-top" src="static/images_WQSA/Meet_the_team_images/Sacha_MTT.svg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Sacha - he/him - event organiser</h4>
    <p class="card-text">hey! being queer is a huge part of my life and as a member of the wgsa im hoping to help students across wellington feel safe and comfortable at their school! i’ll be the event organiser and can’t wait to see what the future brings
- xoxo sacha
</p>
    <a href="#" class="btn btn-primary B">See Profile</a>
  </div>
</div>
        </div>



      <div class="col-lg-4">
<div class="card" style="width:400px">
  <img class="card-img-top" src="static/images_WQSA/Meet_the_team_images/Tilly_MTT.svg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Tilly - Any pronouns - Treasurer</h4>
    <p class="card-text">
Being a member of the WQSA exec team is very important to me as a queer person, because everyone deserves a place where they feel safe and supported without judgement. I want a place for youth in Wellington to feel safe and be okay!
</p>
    <a href="#" class="btn btn-primary C">See Profile</a>
  </div>
</div>

        </div>


  </div>
</div>


 <ul></ul>

    <div class="container text-center">
  <div class="row">
    <div class="col-lg-4">
      <div class="card" style="width:400px">
  <img class="card-img-top" src="static/images_WQSA/Meet_the_team_images/James_MTT.svg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">James  -  Any prononuns - President</h4>
    <p class="card-text">"Tēnā koutou, my name is James and I'm a year 13 queer student at Wellington College. This year I am super keen to be running the WC QSA and I am passionate about  supporting any and all queer students in Wellington to feel safe and comfortable with who they are."</p>
    <a href="#" class="btn btn-primary D">See Profile</a>
  </div>
</div>


    </div>
    <div class="col-lg-4">
      <div class="card" style="width:400px">
  <img class="card-img-top" src="static/images_WQSA/Meet_the_team_images/Eloise_MTT.svg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Eloise - she/her - social media manager</h4>
    <p class="card-text">Hi i’m Eloise and I am in charge of the social media aspect. Being apart of the lgbtqia+ community is a big part of my life and I’m so excited to help found Wellyqsa. I want to be able to create safe places for our rangatahi to feel connected to other queer youth and to built a community!</p>
    <a href="#" class="btn btn-primary E">See Profile</a>
  </div>
</div>
    </div>


    <div class="col-4">
          <div class="col-lg-4">
      <div class="card" style="width:400px">
  <img class="card-img-top" src="static/images_WQSA/Meet_the_team_images/Eloise_MTT.svg" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">Eloise - she/her - social media manager</h4>
    <p class="card-text">Hi i’m Eloise and I am in charge of the social media aspect. Being apart of the lgbtqia+ community is a big part of my life and I’m so excited to help found Wellyqsa. I want to be able to create safe places for our rangatahi to feel connected to other queer youth and to built a community!</p>
    <a href="#" class="btn btn-primary T">See Profile</a>
  </div>
</div>
    </div>
    </div>

  </div>
</div>

    <ul></ul>

{% endblock %}