{% extends "layout.html" %}

{% block title %}
News
{% endblock %}

{% block banner %}
static/images/big_banner.svg
{% endblock %}

{% block content %}

<div class="container-lg py-sm-5 py-1">
<h1>News</h1>
{% if session and session['authorisation'] == 0 %}
<div class="news p-4 my-4 text-end">
    <a class="btn btn-secondary" href="{{ url_for('news_cud', id=0, task='add') }}">Add News</a>
</div>
    {% endif %}

{% for row in news %}

<div id="newsid-{{loop.index}}" class="p-4 my-4 container-sm rounded text-center">
    <h2>{{row['title']}}</h2>
    <div class="subtitle"> {{row['subtitle']}}</div>
    <p class="news-text"> {{row['content'] | replace("\n", "<br>") | safe}}</p>
    <div class="news-meta">Posted by {{row['name']}} on {{row['newsdate'] | news_date}}</div>
    <ul></ul>
    <div>Comment is {{row ['comments_content']}} posted on {{row['comments_date']}}</div>
    {% if session and session['authorisation'] == 0 %}
    <div class="news-meta">
        <a class="btn btn-secondary" href="{{ url_for('news_cud', id=row['news_id'], task='update')}}">Update</a>
        <a class="btn btn-secondary" href="{{ url_for('news_cud', id=row['news_id'], task='delete')}}">Delete</a>

</div>
    {% endif %}
    </div>
{% endfor %}

    </div>

    <script>
        const colourslist = ["A", "B", "C", "D", "E"];

        function generateRandomColor(hexDigits) {
            const index = Math.floor(Math.random() * colourslist.length);
            return colourslist[index];
        }

        function changeBgColor() {
          for (let i = 0; i < {{news|count}}; i++) {
              const indexval = i+1;
              const color = generateRandomColor(colourslist);
              const newsidelement = document.getElementById("newsid-"+indexval);
              console.log(newsidelement);
              newsidelement.classList.add(color);
              // newsidelement.class.backgroundColor = color;
          // document.body.style.backgroundColor = color;

            }

        }

        window.addEventListener("DOMContentLoaded", changeBgColor());
    </script>


{% endblock %}

